<|start_header_id|>system<|end_header_id|>

Below is an instruction that describes a task. Write a response that appropriately completes the request.


<|eot_id|><|start_header_id|>user<|end_header_id|>

Rewrite the following content adding more details about the setting and internal thoughts of the characters:

{{additionalHelp}}

```markdown
{{content}}
```

<|eot_id|><|start_header_id|>assistant<|end_header_id|>

Here is the content reworded adding more details about the setting and internal thoughts of the characters while still maintaining paragraph and section breaks:

```markdown